
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'userindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="donateblood">
  <table class="table" width="200" border="1">
    <tr>
        <td class="bldtxt"><strong>Blood Group:</strong></td>
      <td>&nbsp;<select class="form-select select" name="select">
            <option selected="selected">select</option>
          <option>o+</option>
          <option >o-</option>
          <option>A+</option>
          <option>A-</option>
          <option>B+</option>
          <option>B-</option>
          <option>AB+</option>
          <option>AB-</option>
                </select></td>
    </tr>
    <tr>
      <td class="bldtxt"><strong> Count: </strong></td>
      <td>&nbsp;<input class="form-control txtf" type="text" name="text" required pattern="[0-9]{1-3}"/></td>
    </tr>
    <tr>
      <td colspan="2" align="center">
            <button class="btn btn-outline-secondary button" name="add" type="submit" value="Donate" >Donate</button>
      </td>

    </tr>
  </table>
</form>
</body>
<!--</html>-->
{%endblock%}
