{% extends 'userindex.html' %}
{% block body %}

<!--<body>-->
<!--<form id="form1" name="form1" method="post" action="">-->
<!--  <table width="200" border="1">-->
<!--    <tr>-->
<!--      <td><a href="userviewblood_bank">view blood bank</a></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td><a href="view_emergency_msg">view emergency msg and responds to msg</a></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td><a href="view_donation_history">view donation history</a></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td><a href="send_emergency_msg">send emergency msg</a></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td><a href="send_feedback">send feed back</a></td>-->
<!--    </tr>-->
<!--       <tr>-->
<!--      <td><a href="/">Logout</a></td>-->
<!--    </tr>-->

<!--  </table>-->
<!--</form>-->
<!--</body>-->



<body>
<div class="maindiv">
       <div class="subdiv">
           <ul style="list-style-type:square; color: #890F0D;">
               <li>
                           <p> Giving blood can reveal potential health problems</p>
               </li>
               <li>
                   <p> Giving blood can reduce harmful iron stores</p>
               </li>
               <li>
                   <p> Giving blood may lower your risk of suffering a heart attack</p>
               </li>
               <li>
                   <p> Giving blood may reduce your risk of developing cancer</p>
               </li>
               <li>
                   <p> Giving blood can help your liver stay healthy</p>
               </li>
               <li>
                   <p> Giving blood can help your mental state</p>
               </li>

           </ul>






    </div>
    <div class="subdiv">
        <img width="570" height="500" src="static/assets/img/981.jpg">
    </div>

</div>
</body>





{% endblock %}